@import 'https://fonts.googleapis.com/css?family=Cormorant:300|Roboto:300,400,400i,700';

body {
  font-family: roboto, arial, sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 960px;
}
.hero {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: auto;
}
.main-nav {
  max-width: 960px;
  margin: 20px auto;
  text-align: right;
}
.nav-link {
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  height: 40px;
  line-height: 38px;
  font-size: 20px;
  font-family: Cormorant, cursive;
  display: inline-block;
  margin: 10px 5px;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease;
}
.nav-link:hover {
  color: #FFD86B;
  border-color: #FFD86B;
  background-color: rgba(0, 0, 0, 0.4);
}
#logo {
  float: left;
  font-weight: 400;
  margin-right: 100px;
  width: 0;
  height: 0;
  color: rgba(255, 255, 255, 0);
  overflow: hidden;
  padding: 60px 160px 0 0;
  background-image: url('images/logo.png');
  background-size: 120px 60px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  transition: all 0.2s ease;
}
#logo:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* main content */
.main-content {
  width: 960px;
  margin: 50px auto;
}

/*  for footer */
html, body {
  margin: 0;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 200px;
  position: relative;
  overflow: auto;
}
footer {
  background-color: #333;
  color: #999;
  font-weight: 300;
  overflow: auto;
  clear: both;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-text {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}
.footer-text a {
  color: #AB810A;
  text-decoration: none;
}
.footer-text a:hover {
  color: #D69E00;
  text-decoration: underline;
}

/* ------- index page ---------- */
#home .hero {
  background-image: url('images/mountains.jpg');
  /*@thkelley https://unsplash.com/photos/VRmxES-rIu8*/
}
.hero-card {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.73);
  color: #efefef;
  margin: 110px auto 60px auto;
  padding: 50px;
  max-width: 960px;
  text-align: center;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
}
.hero-card-title {
  font-family: Cormorant, cursive;
  margin: 0;
  font-size: 50px;
}
.hero-card-description {
  margin: 20px 0 30px;
}
.hero-card-link {
  text-decoration: none;
  color: #efefef;
  font-size: 18px;
  border: 2px solid #efefef;
  border-radius: 18px;
  padding: 5px 20px;
  display: inline-block;
  transition: all 0.2s ease;
}
.hero-card-link:hover {
  color: #D69E00;
  border-color: #D69E00;
}


.card {
  background-color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  width: calc(33.3% - 20px);
  margin: 10px;
  float: left;
  text-decoration: none;
  color: #333;
  transition: all .2s ease;
}
.card:hover {
  transform: scale(1.025);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.card-image {
  height: 180px;
  width: 100%;
  background-color: #efefef;
  display: block;
}
.card-title {
  padding: 0 20px;
  margin: 20px 0 10px 0;
  font-family: Cormorant, cursive;
  font-size: 24px;
}
.card-description {
  padding: 0 20px;
  margin: 0 0 20px 0;
  color: #999;
}



/* ------- about page ---------- */
#about .hero {
  background-image: url('images/blueberries.jpg');
  /* photo from @veeterzy https://unsplash.com/search/blueberries?photo=Hc42xXu_WOg*/
}
  #about .hero-card {
    font-family: Cormorant, cursive;
    margin: 60px auto;
  }
    .hero-card h1 {
      font-size: 50px;
      margin: 10px 0;
    }
    .hero-card h2 {
      font-size: 30px;
      margin: 10px 0;
    }
  .about-photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
.about-list-container {
  border: 1px solid #ddd;
  border-right: none;
  border-left: 20px solid #1c5982;
  margin-bottom: 50px;
  padding: 0 50px;
}
  .about-list-title {
    font-size: 30px;
    font-weight: 400;
    color: #1c5982;
  }
  .about-list {
    font-size: 24px;
  }
  .about-list li {
    margin: 1em auto;
  }


/* ------- menu page ---------- */
#menu .hero {
  background-image: url('images/blueberries.jpg');
  /* photo from @veeterzy https://unsplash.com/search/blueberries?photo=Hc42xXu_WOg*/
}

